body {
    background-color: rgb(40, 40, 40);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    background-color: beige;
    width: fit-content;
    padding: 100px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 15px dotted orange;
}

.square {
    font-size: 50px;
    padding: 20px;
    margin: 20px;
    
}

.square::after {
    content :"??"
}

.square:hover {
    background-color: rgb(251, 196, 94);
}

#s1:active::after {
    content:"👻";
}

.square:active::after {
    content: "☠️";
}